html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font: inherit;
}

body {
    background: #000000;
    color: #888;
    font-family: "montserrat", sans-serif;
}

.navbar {
    background: #090909;
    border-bottom: 5px solid #64E330;
}

h1, h2, h3, h4 {
    color: #648880;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin: 30px;

}

h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 42px;
    font-weight: bold;
    color: #64E330;
}

h4 {
    font-size: 36px;
    color: #64E330;
}

a {
    color: #64E330;
}

a.nav-link {
    color: white;
    text-transform: uppercase;
}

a:hover {
  text-decoration: none;
  color: #45a049;
}

nav h1 a {
    color: white;
}

nav h1 a:hover {
    color: #64E330;
    text-decoration: none;
}

.contenitore {
    margin-top: 70px;
    margin-bottom: 50px;
}

.claim h2 {
    font-size: 48px;
    color: #64E330;
}

.white {
  color: white;
}

.claim {
  margin-bottom: 0px;
  font-weight: bold;
  opacity: 0;
}

.scrolls {
  opacity: 0;
  animation: 1s arrow infinite alternate ease;
}

@keyframes arrow {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 20px;
  }
}

a.card-title {
    font-size: 21px;
    text-decoration: none;
    color: #64E330 !important;
}

p.card-text {
    font-size: 14px;
    text-decoration: none;
    padding-top: 20px;
    color: white !important;
}

img {
  margin-bottom: 22px;
  width: 350px;
  max-width: 100%;
}

.logo {
  margin-bottom: 70px;
  width: 500px;
  max-width: 100%;
}

.center {
  margin: auto;
  display: block;
}

.everything {
  opacity: 0;
}

.name {
  font-size: 38px;
  font-size: 2.5vmax;
}

.tag {
  font-size: 32px;
  font-size: 1.5vw;
  color: #64E330;
}

.titles{
  font-size: :35px;
  font-size: 2vw;
}

.projects {
  margin: auto;
  display: block;
  margin-bottom: 70px;
  width: 5000px;
  padding: 1vw;
  max-width: 100%;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}

@media all and (min-width: 992px) {
  .scroll2 {
    display: none !important;
  }
  nav h1 a{
    font-size: 36px;
  }
  .claim h2 {
      font-size: 48px;
      font-size: 3vw;
  }

  .name {
    font-size: :42px;
    font-size: 2.5vw;
  }

  .tag {
    font-size: 24px;
    font-size: 1.5vw;
    color: #64E330;
  }
  h3 {
    font-size: 42px;
    font-size: 2.5vw;
  }
  .titles{
    font-size: 36px;
    font-size: 2vw;
  }
  a.card-title {
    font-size: 21px;
    font-size: 1.5vw;
  }
  p.card-text {
    font-size: 14px;
    font-size: 1vw;
  }
  p {
    font-size: 14px;
    font-size: 1vw;
  }
  h4 {
    font-size: 36px;
    font-size: 2vw;
  }
}

@media all and (max-width: 991px) and (min-width: 50px) {
  .scroll1 {
    display: none !important;
  }
  nav h1 a{
    font-size:4vw;
  }
  .claim h2 {
    font-size: 7vw;
  }

  .name {
    font-size: 7.5vw;
  }

  .tag {
    font-size: 4.5vw;
    color: #64E330;
  }
  h3 {
    font-size: 7.5vw;
  }
  .titles{
    font-size: 6vw;
  }
  a.card-title {
    font-size: 4.5vw;
  }
  p.card-text {
    font-size: 3vw;
  }
  p {
    font-size: 3vw;
  }
  h4 {
    font-size: 6vw;
  }
  .zoom {
    padding: 6vw;
  }
}

.skills {
  width: 130px;
}

.cv {
  width: 50px;
}

.cv:hover {
  background-color: #45a049;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #64E330;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.containerc {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.screenshots {
  width: 100%;
}


.containers {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.containers .thumbnail {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

video:focus  {
    outline: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #45a049;
    border-color: #45a049;
}

.btn-primary:hover {
    background-color: #64E330;
    border-color: #45a049;
}
